<div class="col-lg-6 half-screen split-border">
  <h2><%= t('.title', resource: resource_class.model_name.human) %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <% if devise_error_messages!.to_s != '' %>
          <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= devise_error_messages! %>
          </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, {autofocus: "true", class:"form-control"} %>
      </div>

      <div class="field">
        <div class="field form-group">
          <%
            if @minimum_password_length
              new_pw_title = 'Neues Passwort (mindestens ' + @minimum_password_length.to_s + ' Zeichen)'
            else
              new_pw_title = 'Neues Passwort'
            end
          %>
          <%= f.label :password, new_pw_title %><br />
          <%= f.password_field :password, {autocomplete: "off", class:"form-control"} %>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, {autocomplete: "off", class:"form-control"} %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
        <%= f.password_field :current_password, {autocomplete: "off", class:"form-control"} %>
      </div>

      <div class="actions">
        <%= f.submit t('users.registrations.edit.update'), {class:"btn btn-success"} %>
      </div>
  <% end %>

  </br></br>
</div>

<div class="col-lg-6">
  <h2><%= t('users.registrations.edit.cancel_my_account') %></h2>
  <p style="margin-top: 33px;">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#popup_sure">
      <%= t('.cancel_my_account') %>
    </button>
  </p>

</div>


<div class="modal fade" id="popup_sure">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t('popup.confirm')%></h4>
      </div>
      <div class="modal-body">
        <p><%= t('users.registrations.edit.are_you_sure') %></p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-success btn-danger" rel="nofollow" data-method="delete" href="<%= registration_path(resource_name) %>">
          <%= t('users.registrations.edit.cancel_my_account') %>
        </a>
        <button type="button" class="btn btn-info" data-dismiss="modal"><%= t('popup.cancel')%></button>
      </div>
    </div>
  </div>
</div>

<script>
    $('#popup_sure_delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var line = button.data('lineid') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.btn-yes').attr("href", '/lines/' + line)
        modal.find('.btn-yes').attr("text", '<%= t('global.confirmYes') %>')
    });
</script>
